*{
    margin: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
    user-select: none;
}
body{
    background-color: rgb(20,20,20);
    padding: 0px 50px;
    margin: 0;
}
#content{
    height: 100vh;
    background-color: rgb(100,100,100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header{
    background-color: rgb(100,100,100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#game{
    background-color: rgb(100,100,100);
    padding: 0px 20px;
}
#gameInfo{
    background-color: rgb(50,50,50);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#gameInfo > #row1, #row2{
    font-size: 28px;
    text-align: center;
}
#inputButtons{

    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgb(50,50,50);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
}
#rock, #paper, #scissors{
    width: 100px;
    height: 100px;
    background-color: rgb(100,100,100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    user-select: none;
}
#footer{
    background-color: rgb(100,100,100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}